* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	color: #df5000;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* ///////////////////////////////
General App Grid and Layout Start
////////////////////////////////*/

body {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 960px 1fr;
	background: white;
	font-family: sans-serif;
	overflow-y: scroll;

}

.container {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: auto 1fr auto;
	background: white;
	border-top: 4px solid green;
	margin: 3px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.main-header {
	grid-column: 1/3;
	display: grid;
	grid-template-rows: 2px 1fr;
	margin-bottom: 5px;
	padding-right: 5px;
	-webkit-box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);
					box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);					
}

.main-header h1 {
	text-align: center;
	color: green;
	z-index: 2;
}

.main-header ul {
	display: flex;
	/*justify-content: space-between;*/
}

.main-header li:first-child,
.main-header li:nth-child(2) {
	flex: 1 1 auto;
}

/* For Log Out Message */
.log-out-message {
	align-self: flex-end;
	margin-bottom: 5px;
}

/* For Admin Button */
.main-header .admin-link {
	align-self: center;
	flex: 0 0 auto;
	display: none;
}

/*.main-header li:last-child {
	color: white;
}*/

.main-body {
	grid-column: 2/3;
	display: grid;
	align-items: center;
	grid-template-rows: auto;
	padding: 5px;
	margin: 5px;
	border-bottom-right-radius: 30px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu {
	display: none;
}

.main-sidebar {
	grid-column: 1/2;
	grid-row: 2/3;
	align-self: stretch;
  overflow: auto;
	border-bottom-left-radius: 30px;
	margin: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Sidebar Navigation Menu links */
.main-sidebar a {
  color: black;
  padding: 10px;
  display: block;
}

.main-sidebar li {
  border-bottom: 1px solid #df0000;
  margin-bottom: 3px;

}

.main-sidebar ul {
	padding: 5px;
}

/* Active/current link */
.main-sidebar a.active {
  background-color: #df5000;
  color: white;
}

/* Links on mouse-over */
.main-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main-sidebar .hidden-content a.active {
  background-color: #77a198;
  color: white;
}

.main-sidebar li:hover {
  border-bottom: 1px solid #555;
}

.main-footer {
	grid-column: 1/3;
	background: green;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.footer-nav ul {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px 5px;
	align-items: center;
}

.footer-nav a {
	color: white;
}

.footer-nav ul li:nth-child(2) {
	border-right: 1px solid white;
	border-left: 1px solid white;
	padding: 0 10px;
	margin: 0 10px;
	border-radius: 0;
	text-align: center;
	width: auto;
}


.form-page-main-body header {
	margin-top: 15px;
}

@media only screen and (max-width: 980px) {
	body{
		grid-template-columns: 1fr 98vw 1fr;
		height: 100vmax;
	}
}

@media only screen and (max-width: 700px) {
	.main-sidebar {
		grid-column: 1/3;
		border-bottom-left-radius: 5px;
	}

	.main-sidebar ul {
		display: flex;
		justify-content: space-evenly;
	}

	.main-body {
		grid-column: 1/3;
		border-bottom-left-radius: 30px;
	}

	.transparent-overlay {
		border-bottom-left-radius: 30px;
	}

	.container {
		grid-template-rows: auto auto 1fr auto;
	}

}

@media only screen and (max-width: 400px) {
	.container {
		grid-template-rows: auto 0 1fr auto;
	}
	
	.main-body {
		grid-template-rows: auto 1fr;
		grid-auto-rows: 1fr;
		background: #fff;
		padding-top: 0;
		align-items: flex-start;

	}

	.success-pages {
		/*align-items: flex-end;*/
	}
	.success-pages,
	.admin-main-body {
		align-items: center;
	}
	
	.menu {
		display: block;
	  align-self: flex-start;
	  text-align: left;
	}

	.menu button {
	  color: green;
	  font-size: 30px;
		padding: 0 3px;
		background: none;
		border: none;
	}

	.main-sidebar ul {
		display: block;
		text-align: center;
		width: 70vw;
	}

	.main-sidebar {
		background: #fff;
		max-width: 0;
		overflow-y: auto;
		transition: max-width 0.2s ease-in-out;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	.show-menu {
		z-index: 2;
		max-width: 70vw;		
	}

	.footer-nav ul li {
		flex: 0;
	}

}

/* ///////////////////////////////
General App Grid and Layout End
////////////////////////////////*/


/*
==================================
General UI Elements Styling
==================================
*/

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  background: #df5000;
  color: #fff;
}

.btn-default {
  border: 0;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #77a198;
}

.do-action {
  background: #77a198;
}

.do-action:hover {
  background: #df5000;

}

/*
=======================================
Landing Page Styling
=======================================
*/

.intro h3 {
	margin-bottom: 10px;
}

/*
  ============================================
  Form Registration Pages:
  Root Admin Sign Up, Create Admin Account,
  Create Staff Account, User (client) Sign Up,
  User Create Bank Account
  ============================================
*/

form {
  margin-bottom: 22px;
}

input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date-label label,
.flex-label label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}

.date-label select,
.flex-label input,
.flex-label select,
.flex-label textarea {
  border: 1px solid #c6c9cc;
  color: #888;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  height: 34px;
  /*width: 50%;*/
}


/* ====== Root Admin & Sign Up, and Create Bank Account ======*/
.form-page-main-body {
	/*align-content: flex-start;*/
	/*align-items: flex-start;*/
}

/*@media only and screen (max-width: 400px) {*/
	.form-page-main-body {
		grid-template-rows: auto;
		grid-auto-rows: auto;
	}

/*}*/

.flex-label label,
.flex-label a,
.flex-label + div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.slide-form .flex-label + div {
	justify-content: center;
}

fieldset {
	border: none;

}

.flex-label label input,
.flex-label label select {
	margin-left: 5px;
	position: relative;
	top: 0.6em;

}

.sign-up-form {
	width: 70%;
}

.sign-up label input,
.sign-up label select,
.sign-up label text-area {
	width: 50%;
}

/*
  ==================================================
  Login Sections for User (client) on index.html and 
  For Admin and Staff on staffAndAdminMainPage.html
  ==================================================
*/

.main-body {
	position: relative;
}


.sign-in {
	width: 80%;
	margin: 0 10%;
}

.abs {
	align-self: flex-start;
}

.sliding-log-in {
	display: grid;
	grid-template-rows: 0 auto;
}


.slide-div {
 	z-index: -1;
	max-height: 0;
}

.slide-form {
	background: #fff;
	padding-bottom: 10px;
}

.show-sliding-form {
	max-height: auto;
	z-index: 4;
	transition: max-height 0.2s ease-in-out;
}

.menu {
	z-index: 3;
}

.main-sidebar {
	z-index: 5;
}

.sign-up fieldset,
.sliding-log-in fieldset {
	margin-bottom: 20px;
	width: 100%;
}
.sliding-log-in fieldset {
	margin-bottom: 30px;
	padding-right: 5%;
}

.sliding-log-in label input,
.sliding-log-in label select,
.sliding-log-in label textarea {
	width: 70%;
}

/*Adjusting form fields for responsiveness*/
@media only screen and (max-width: 600px) {
	.flex-label label input,
	.flex-label label select,
	.flex-label label textarea {
	  width: 100%;
		top: 0;
		margin-left: 0;
	}

	form {
		padding-top: 10px;
	}

	.slide-div .slide-form {
		padding-top: 10px;
	}

	.flex-label label,
	.flex-label a,
	.flex-label + div {
  	padding: 0 7.5%;
		justify-content: flex-start;
	}

	.flex-label + div {
		justify-content: center;
	}

	.log-in label input[type="password"] {
		margin-bottom: 15px;
	}

	.sign-up {
		width: 90%;
		margin: 0 5%;
	}

}

.transparent-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	border-bottom-right-radius: 30px;
}

#transOverlay {
	position: absolute;
}


/*
  ==================================================
  User Portal Styles
  ==================================================
*/
.user-portal {
	grid-template-rows: auto auto auto 1fr;
	grid-auto-rows: 1fr;
	padding-top: 10px;
	text-align: left;
	grid-row-gap: 10px;
	padding-bottom: 20px;

	/*justify-content: center;*/
	/*align-items: flex-start;*/
	/*justify-items: flex-start;*/
}

.log-out {

}

.menu-item-title {
/*	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
}

.portal-intro {
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	/*justify-items: flex-end;*/
}

header.portal-intro.intro {
	/*margin-top: 0.5em;*/
	/*border: 1px solid black;*/
	/*justify-content: flex-start;*/

}

.portal-intro p {
	text-align: right;
	/*justify-self: flex-end;*/
}

.date-day {
	display: block;
	text-align: right;
	color: green;
}

.balance-info a {
	text-decoration: underline;
}

/*.menu-item-title + hr {
	align-self: center;
}*/



.accounts-table {
	overflow-x: auto;
	-webkit-box-shadow: 0px 0px 0.5px 1.2px rgba(0,0,0,0.5);
		 -moz-box-shadow: 0px 0px 0.5px 1.2px rgba(0,0,0,0.5);
					box-shadow: 0px 0px 0.5px 1.2px rgba(0,0,0,0.5);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	background: rgba(1, 66, 17, 0.35)
}

th {
	vertical-align: bottom;
}

table {
	width: 100%;
}

tbody {
	background: white;
}

th {
	padding: 5px;
}
td {
	padding: 2px 5px;
}

td, th {
	border-radius: 0;
}

p.account-name a {
	text-decoration: underline;;
}

p.account-type {
	color: green;
}

/*td.balance p {
	color: red;
}*/

td.av-balance p {
	color: green;
}

.account-creation {
	background: white;
	/*text-align: right;*/
	padding: 2px;
}

.create-bank-account {

}

.menu-item-title {
	-webkit-box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.75);
					box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.75);
	border-radius: 0;
	padding-bottom: 5px;
}

@media only screen and (max-width: 700px) {
	.date-time {
		display: block;
	}

	header.portal-intro.intro p {
		flex-shrink: 0;

	}
}

@media only screen and (max-width: 400px) {
	.user-portal {
		grid-template-rows: auto auto auto auto 1fr;
		padding-top: 0;
	}

	.user-portal div:first-child {
		margin-bottom: -10px;
	}

	header.portal-intro.intro {

	}


	
	header.portal-intro.intro h3 {

	}


}

header.portal-intro.intro p {
	/*flex-shrink: 0;*/
	padding-left: 10px;
}
	
/*.hidden-content {
	width: 70%;
	background: green;
	display: none;
}*/

.hidden-content li {
	margin-left: 15px;
}

.accordion {
}

.active-acc, .accordion:hover {
  background-color: #ccc;
}

.accordion a:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-acc a:after {
  content: "\2212";
}

.panel {
  /*padding: 0 18px;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.confirmation {
	display: none;
	background: #fff;
	z-index: 5;
	padding: 1em;
	position: fixed;
	bottom: 40%;
	left: 50%;
	margin-left: 6%;
	transform: translate(-50%, 0%);
	width: 600px;
}

@media only screen and (max-width: 960px) {
	.confirmation {
		left: 60%;
		margin-left: 0;
		width: 65%;
	}
}

@media only screen and (max-width: 700px) {
	.confirmation {
		left: 50%;
		margin-right: -50%;
		width: 70%;
	}
}

@media only screen and (max-width: 417px) {
	.confirmation {
		left: 50%;
		margin-right: -50%;
		width: 90%;
	}
}


/*.container {
	position: relative;
}*/

.show-confirmation {
	display: grid;
	justify-items: center;
}

.confirmation button,
.confirmation a {
	margin: 0 0.25em;
	/*margin-bottom: 5px;*/


}

.confirmation p {
	text-align: justify;
	margin-bottom: 1.5em;
}

.portal-header li:last-child {
	align-self: flex-end;
	flex: 0 0 auto;
	display: block;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #fff;
}



.history form,
.history fieldset {
	margin-bottom: 0;
}

.history .flex-label select,
/*.history .flex-label div,*/
.date-label select {
	margin: 0;
}

.history .flex-label select {
	position: static;
}

a.go,
.accts-history-form fieldset a {
	padding: 8px;
  height: 34px;
}

.accts-history-form .flex-label select {
	margin-right: 5px;
}

@media only screen and (max-width: 600px) {
	.history form {
		padding-top: 0;
		/*margin-top: 0;*/
	}

	.history p {
		text-align: justify;
	}

	.accts-history-form fieldset div {
		margin-top: 5px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.accts-history-form .flex-label select {
		margin-right: 0;
	}

}

.admin-user-ops {
	padding-bottom: 20px;
}

.history {
	align-content: flex-start;
	grid-template-rows: auto;
	grid-auto-rows: auto;
}

.monthly-form .date-label * {
	/*display: inline-block;*/
}

.monthly-form .date-label {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.monthly-form .date-label label {
	display: flex;
}

.go {
	vertical-align: top;
	width: 35px;
	margin-left: 5px;
}

.history-table p {
	color: green;
}

.actions {
	text-align: center;
}

.actions a {
	padding: 5px 8px;
	margin: 3px 0;
}

tr.accounts-table-row.total {
	border-left: none;
	padding-top: 6px;
	border-radius: 0;
	-webkit-box-shadow: 0px 0px 0.5px 1.2px rgba(0,0,0,0.5);
		 -moz-box-shadow: 0px 0px 0.5px 1.2px rgba(0,0,0,0.5);
					box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.5);
	
}

.history-table tr:last-child p,
td.transaction-diff {
	text-align: right;
	color: #000;
}

.history-guide {
	display: flex;
	justify-content: space-between;
}

.history-guide p:first-child {
	width: 80%;
	text-align: justify;
	margin-right: 3em;

}

.history-guide p:last-child {
	text-align: right;
	cursor: pointer;
	text-decoration: underline;
	align-self: center;
}

@media only screen and (max-width: 780px) {
	.monthly-form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.monthly-form form {
		grid-column: 2/3;
	}

	.monthly-form .date-label {
		justify-content: flex-end;
	}

	.form-div {
		display: flex;

	}

	.history-guide p:first-child {
		width: 100%;
		margin-right: 10px;

	}

	.history-guide p:last-child span {
		/*display: block;*/
	}
}

@media only screen and (max-width: 400px) {
	.recent-history {
		margin-top: 10px;
	}
}

	@media only screen and (max-width: 360px) {
	.monthly-form .date-label label {
		flex-wrap: wrap;
	}

	.recent-history {
		margin-top: 10px;
	}
}

.monthly-form .start {
	margin-right: 40px;
	margin-bottom: 0.5em;
}

.monthly-form label p {
	margin-right: 5px;
}

/*.adv-history-txt {
	display: none;
}*/

.hide {
	display: none!important;
}

.admin-portal {
	grid-template-rows: auto auto 1fr;
	grid-auto-rows: auto;
}

@media only screen and (max-width: 400px) {
	.admin-portal {
		grid-template-rows: auto auto auto 1fr;
	}
}
/*.admin-portal * {
	border: 1px solid red;
}*/

.admin-user-actions,
.admin-actions {
	align-self: stretch;
	display: grid;
	/*border: 1px solid green;*/
	justify-content: center;
	text-align: center;
	/*align-content: space-around;*/
	/*align-items: space-between;*/
}

.admin-user-actions section,
.admin-actions section {
	margin: 20px 0;
}

.admin-user-actions section:first-child,
.admin-actions section:first-child {
	margin: 5px 0;
}

/* Admin Sign Up Router */
.admin-sign-up .main-sidebar {
	display: none;
}

.admin-user-actions p {
	line-height: 1.5;
	text-align: justify;
}


.user-operations {
	grid-template-rows: auto;
	grid-auto-rows: auto;
	align-content: flex-start;
}

.admin-user-ops {
	grid-row-gap: 10px;
}

.admin-user-ops {
	text-align: justify;
}

.admin-user-ops .accts-history-form p {
	display: none;
	text-align: right;
	margin-top: 5px;
	color: #000;
	/*margin-top: -10px;*/
	margin-right: 40px;

}

@media only screen and (max-width: 601px) {
	.admin-user-ops	.accts-history-form .flex-label {
		position: relative;
	}

	.admin-user-ops .accts-history-form p {
		position: absolute;
		top: 35px;
		right: 40px;
	}

}

#selectUser {
	/*align-self: flex-start;*/
}

.history .staff-section,
.history .admin-section {
	display: flex;
	justify-content: space-between;
	background: #fff;
	margin: 5px;
	border: 1px solid black;
}


.history .staff-section .staff-power,
.history .admin-section .admin-staff-power {
	flex-shrink: 0;
	padding: 4px;
	display: grid;
	grid-template-columns: 1/3;
	grid-gap: 4px;
	background: #000;
	/*border-radius: 0;*/
}

.history .staff-section header,
.history .admin-section header {
	padding: 5px;
	flex-shrink: 0;
}

/*.user-portal .admin-welcome {
	display: none;
	text-align: center;
}
*/
.user-portal .admin-welcome p {
	margin-bottom: 10px;
	color: #000;
}

.history .admin-section {
	/*display: none;*/

}

/*@media only screen and (max-width: 400px) {*/
	.account-status {
		display: block;
		color: green;
	}
/*}*/

.history .staff-section p:first-child,
.history .admin-section p:first-child {
	color: red;
}

.history .staff-power button,
.history .admin-staff-power button {
	padding: 5px;
}

.history .admin-staff-power button:first-child {
	grid-column: 1/2;
}

.history .admin-staff-power button:nth-child(2) {
	background: green;
	grid-column: 2/3;
}

.history .staff-power button,
.history .admin-staff-power button:last-child {
	background: #f00;
	grid-column: 1/3;
	color: black;
}


.history .staff-power button:first-child {
	background: green;
	color: #fff;
}

/*.admin-user-ops,
.admin-user-ops * {
	border: 1px solid black;
}*/