* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	color: #df5000;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* ///////////////////////////////
General App Grid and Layout Start
////////////////////////////////*/

body {
	display: grid;
	min-height: 98vh;
	grid-template-columns: 1fr 960px 1fr;
	background: white;
	font-family: sans-serif;
}

.container {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: auto 1fr auto;
	background: white;
	border-top: 4px solid green;
	margin: 3px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.main-header {
	grid-column: 1/3;
	display: grid;
	grid-template-rows: 2px 1fr;
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);
					box-shadow: 0px 4px 3px -4px rgba(0,0,0,0.75);					
}

.main-header h1 {
	text-align: center;
	color: green;
	z-index: 2;
}

.main-header ul {
	display: flex;
}

.main-header li:first-child {
	flex: 1 1 auto;
}

.main-header li:last-child {
	align-self: center;
	flex: 0 0 auto;
	display: none;
	margin-right: 5px;
	/*transition: 2s;*/
}

.main-header li:last-child {
	color: white;
}

.main-body {
	grid-column: 2/3;
	display: grid;
	align-items: center;
	padding: 5px;
	margin: 5px;
	border-bottom-right-radius: 30px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu {
	display: none;
}

.main-sidebar {
	grid-column: 1/2;
	grid-row: 2/3;
	align-self: stretch;
  overflow: auto;
	border-bottom-left-radius: 30px;
	margin: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Sidebar Navigation Menu links */
.main-sidebar a {
  color: black;
  padding: 10px;
  display: block;
}

.main-sidebar li {
  border-bottom: 1px solid #df0000;
  margin-bottom: 3px;

}

.main-sidebar ul {
	padding: 5px;
}

/* Active/current link */
.main-sidebar a.active {
  background-color: #df5000;
  color: white;
}

/* Links on mouse-over */
.main-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main-sidebar li:hover {
  border-bottom: 1px solid #555;
}

.main-footer {
	grid-column: 1/3;
	background: green;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.footer-nav ul {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px 5px;
	align-items: center;
}

.footer-nav a {
	color: white;
}

.footer-nav ul li:nth-child(2) {
	border-right: 1px solid white;
	border-left: 1px solid white;
	padding: 0 10px;
	margin: 0 10px;
	border-radius: 0;
	text-align: center;
	width: auto;
}

@media only screen and (max-width: 980px) {
	body{
		grid-template-columns: 1fr 98vw 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.main-sidebar {
		grid-column: 1/3;
		border-bottom-left-radius: 5px;
	}

	.main-sidebar ul {
		display: flex;
		justify-content: space-evenly;
	}

	.main-body {
		grid-column: 1/3;
		border-bottom-left-radius: 30px;
	}

	.container {
		grid-template-rows: auto auto 1fr auto;
	}

}

@media only screen and (max-width: 400px) {
	.container {
		grid-template-rows: auto 0 1fr auto;
	}
	
	.main-body {
		grid-template-rows: auto 1fr 1fr 1fr;
		background: #fff;
		padding-top: 0;
	}
	
	.menu {
		display: block;
	  align-self: flex-start;
	  text-align: left;
	}

	.menu button {
	  color: green;
	  font-size: 30px;
		padding: 0 3px;
		background: none;
		border: none;
	}

	.main-sidebar ul {
		display: block;
		text-align: center;
		width: 70vw;

	}

	.main-sidebar {
		background: #fff;
		max-width: 0;
		overflow-y: scroll;
		transition: max-width 0.2s ease-in-out;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	.reset-height {
		border: none;
	}

	.show-menu {
		z-index: 2;
		max-width: 70vw;		
	}

	.footer-nav ul li {
		flex: 0;
	}

}

/* ///////////////////////////////
General App Grid and Layout End
////////////////////////////////*/


/*
==================================
General UI Elements Styling
==================================
*/

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  background: #df5000;
  color: #fff;
}

.btn-default {
  border: 0;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}


/*
==================================
Landing Page Styling
==================================
*/

.intro h3 {
	margin-bottom: 10px;
}

/*
  ============================================
  Form Registration Pages,
  Root Admin Sign Up, Create Admin Account,
  Create Staff Account, User (client) Sign Up
  ============================================
*/

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.create-account label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.create-account input,
.create-account select,
.create-account textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  height: 34px;
  width: 50%;
}

.create-account input,
.create-account select {
}
/* .create-account textarea {
  height: 78px;
}*/



/*
  ========================================
  Root Admin Sign Up
  ========================================
*/
.form-page-container {
	grid-template-rows: auto 1fr auto;
}

.form-page-sidebar,
.form-page-main-body .menu {
	display: none;
}

.form-page-main-body {
	grid-column: 1/3;
	/* Its display is grid already */
	grid-template-columns: 1fr 98% 1fr;
	grid-template-rows: auto;
	padding: 5px 0;
}

.form-page-main-body header {
	grid-column: 1/4;
	/*border: 1px solid blue;*/
}

.form-page-main-body .sign-up {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 70% 2fr;
	/*border: 1px solid green;*/

}

.form-page-main-body .sign-up form {
	grid-column: 2/3;
	width: inherit;
}

.create-account label {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

fieldset {
	border: none;

}

.create-account label input,
.create-account label select {
	margin-left: 5px;
	position: relative;
	top: 0.6em;

}

@media only screen and (max-width: 768px) {
	.form-page-main-body .sign-up {
		grid-template-columns: 5px 1fr 5px;
	}
	.form-page-main-body .sign-up form {
		padding-right: 1em;
	}

	.form-page-main-body form .btn {

	}

	fieldset {

}
	

}

@media only screen and (max-width: 600px) {
	.create-account label input,
	.create-account label select,
	.create-account label textarea {
	  width: 100%;
		top: 0;
		margin-left: 0;
		/*top: 0;*/
  	/*margin-left: 5%;*/
	}

	.create-account label {
		/*border: 1px solid green;*/
  	padding:  0 7.5%;
		justify-content: flex-start;
		/*align-items: center*/;
	}

}



